<launch>
  <arg name="compressed_image_topic" default="/raspicam_node/image"/>
  <arg name="raw_image_topic" default="/camera_image_raw"/>

  <!-- launch the image transport node -->
  <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=$(arg compressed_image_topic) raw out:=$(arg raw_image_topic)"/>

</launch>
